.card{
    text-align: center;
    display:inline;
    float:left;
    margin-right: 5px;
    background: rgba(250,250,255,0.7);
}
body{
    background-color: black;
    text-align: center;
    
}
#container{
    position: relative;
    top:-80px;                
}
.card{
    width: 9rem;
}
#canvas{
    width: 100%;
}

#containerText{
    display: inline;
    position: absolute;
    top: 30px;          
    vertical-align: middle;      
}

#speaker{
    position: relative;
    left: 2em;
    top: -1em;
    text-align:center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: larger;
    text-shadow: 1px 1px rgb(0, 0, 0);
    background-color: rgba(35, 0, 95, 0.9);
    border-radius:8px;
    padding: 0px 5px 0px 5px;
    min-width: 2em;
}

#typeText{
    text-align: center; 
    vertical-align: middle;
    width: 80%;
    height: 40px;
    background-color: rgba(255,255,255,0.5);
    color: white;
    height: auto;
    text-shadow: 1px 1px rgb(58, 58, 58);
}